* {
    box-sizing: border-box;
 }

html {
    background-color: #2D445B;
    color: #ffffff;
}

header {
    width: 100%;
    padding: 10px 4% 10px;
    color: #ffffff;
    top: 0;
    display: flex;
    align-items: center;
}
header img{
    display: block;
    width: 100px;
}

header ul{
    list-style: none;
    margin: 0;
    display: flex;
}

header li{
    margin: 0 0 0 15px;
    font-size: 16px;
}

.header_nav{
    margin: 0 0 0 auto;
}

.signup{
    color: lightsalmon;
    text-decoration: none;
    padding: 2px 8px 3px 8px;
    border-radius: 12px;
    border: 2px solid #ffffff;
}

.user{
    text-decoration: none;
    padding: 2px 8px 3px 8px;
    border-radius: 12px;
    border: 2px solid #ffffff;
}

hr{
    width: 95%;
    border-style: solid;
}

a{
    color: #ffffff;
}

.timer p{
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
}

section{
    width: 90%;
    margin: 10px 5% 0px;
    position: static;
    float: left;
}

select{
    width: 200px;
    font-size: 24px;
    padding-right: 1em;
    cursor: pointer;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    color: #ffffff;
}

#select_station {
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 14px;
    background-position: right 10px center;
    position: relative;
    border-radius: 8px;
    border: 2px solid #ffffff;
    padding: 8px 38px 8px 8px;
  }

.station {
    margin: 0px 5% 0px;
    text-align: center;
    vertical-align: center;
}

.station p{
    display: flex;
}

#time{
    margin: 0;
    display: inline-block;
    font-size: clamp(90px, 14vw, 500px);
}

.next_bus{
    display: inline-block;
    margin: 0 0 0 40%;
}

.next_bus p{
    float: left;
    margin: 0 0 0 20px;
}

#next_time{
    font-size: clamp(30px, 4vw, 200px);
}

.bound_for{
    height: 100px;
    border: 2px solid white;
}