* {
    box-sizing: border-box;
}

html{
    background-color: #3d4a5f;
    min-width: 340px;
}

body{
    font-family: sans-serif, Arial, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans";
    white-space: nowrap;
    color: #ffffff;
    height: 100%;
}

/*-------------------- ヘッダー --------------------*/
header{
    padding: 0px 0px 10px;
    margin: 0px 20px 0px;
    top: 0;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ffffff;
}

.header_logo{
    margin: auto 0;
}

.header_logo img{
    display: block;
    width: 130px;
}

.header_nav{
    margin: 0 0 0 auto;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header_login a{
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/*-------------------------------------------------*/

.container{
    display: flex;
    margin: 30px 20px 0px;
    height: 100%;
}

.horizontal_line{
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

.vertical_line{
    background-color: #ffffff;
    width: 1px;
    margin: 0 auto;
}

.outer_hl{
    display: none;
}

/*---------------------- バス ----------------------*/
.bus{
    width: 30%;
    /* overflow: auto; */
}

.bus_timer{
    margin: 0;
    font-size: 1em;
}

.bus_timer_select {
    height: 36px;
    cursor: pointer;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    color: #ffffff;
    font-size: 1em;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 14px 8px;
    background-position: right 5% center;
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 6px 30px 6px 6px;
    display: inline-block;
}

.bus_timer_top{
    display: flex;
    align-items: flex-end;
}

.bus_timer_top span{
    margin: 0 0 0 16px;
    font-size: 1.2em;
    line-height: 100%;
}

.bus_timer_center{
    text-align: center;
}

.bus_timer_time{
    margin: 30px auto;
    font-size: clamp(6em, 6vw, 150px);
}

.bus_timer_bottom{
    text-align: right;
}

.bus_timer_bottom p{
    line-height: 100%;
    display: inline-block;
    margin: 0 0 0 30px;
}

.bus_timer_bottom span{
    line-height: 100%;
    display: inline-block;
    margin: 0 0 0 auto;
    font-size: 1.2em;
}

.bus_timer_next_time{
    font-size: 2em;
}

.bus_schedule_title{
    display: flex;
}

.bus_schedule p{
    line-height: 100%;
    margin: 10px 20px 0 0;
    font-size: 1.4em;
}

.bus_schedule_table{
    border-collapse: collapse;
    margin: 20px auto 0 auto;
    width: 90%;
    table-layout: fixed;
}

.bus_schedule_table th{
    border: 1px solid #ffffff;
    width: 3em;
    font-weight: normal;
}
.bus_schedule_table td{
    width: 100%;
    border: 1px solid #ffffff;
    white-space: normal;
    padding: 0 10px 0 20px;
}
/*-------------------------------------------------*/

/*---------------------- 電車 ----------------------*/
.train{
    width: 35%;
    overflow: auto;
}

.departure_station{
    border: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 26px 5% 4% 5%;
}

.departure_station_top{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

.departure_station_top div{
    display: inline-block;
    margin: auto auto 0 auto;
    line-height: 100%;
}

.station_name{
    font-size: clamp(2.2em, 2.6vw, 4em);
}

.line_direction{
    font-size: clamp(1.4em, 1.6vw, 2em);
}

#train_left_type{
    color: #8caf89;
}

#train_right_type{
    color: #e27a68;
}

.departure_station .horizontal_line{
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 10px auto;
}

.train_time{
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 50% 50%;
}

.train_type{
    margin: 10% auto 10px 10%;
    font-size: clamp(1.2em, 1.4vw, 3em);
}

.train_departure_time{
    margin: 10px auto 0 15%;
    font-size: clamp(3em, 3.4vw, 4em);
    display: inline-block;
    line-height: 100%;
}

.train_time_time span{
    display: inline-block;
    line-height: 100%;
    font-size: clamp(1.2em, 1.4vw, 3em);
}

.tab_wrap{
    width: 100%;
    border: 1px solid #ffffff;
}

.station_line{
    margin: 40px 0;
}

input[name="tab_btn"]{
    display: none;
}

.tab{
    font-size: 0;
}

.tab_label{
    width: 50%;
    font-size: clamp(1.2rem, 1.4vw, 3rem);
    display:inline-block;
    text-align:center;
    cursor:pointer;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

#tb1{
    border-right: 1px solid #ffffff;
}
#tb2{
    border-left: 1px solid #ffffff;
}

#tab1:checked ~ #tb2{
    display: block;
}
#tab2:checked ~ #tb1{
    display: block;
}

#tab1:checked ~ .tab #tb1,
#tab2:checked ~ .tab #tb2{
    border: none;
}

.train_suchedule_panel{
    margin: 30px 5% 20px;
}

#tab1:checked ~ .train_suchedule_panel #panel1,
#tab2:checked ~ .train_suchedule_panel #panel2{
    display:block;
}

.schedule_panel{
    width:100%;
    display: none;
}

.grid_panel{
    width: 100%;
    display: grid;
    grid-template-columns: 46% 8% 46%;
}

.t_sche{
    white-space: normal;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.train_schedule1{
    grid-column: 1/2;
}
.grid_panel div{
    grid-column: 2/3;
}
.train_schedule2{
    grid-column: 3/4;
}

.t_sche th{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 3em;
    font-weight: normal;
}

.t_sche td{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 0 8px;
}
/*-------------------------------------------------*/

/*---------------------- 経由駅 ----------------------*/
.route{
    width: 25%;
    overflow: auto;
    float: right;
}

.route_via{
    width: 100%;
    background-color: #ffffff;
    padding: 5px;
}

.route_via_frame{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #3d4a5f;
    color: #3d4a5f;
    padding: 20px 20px;
}

.route_via_elemets{
    display: flex;
    margin: 0;
    font-size: 20px;
    align-items: center;
}

.connect_stations{
    width: 7px;
    height: 16px;
    background-color: #6c7b8e;;
    margin: 0 auto 0 26px;
}

.route_via_station{
    margin: 0 0 0 20px;
}

.route_via_station_code{
    border: 5px solid #9a7b8c;
    border-radius: 12px;
    font-size: 16px;
    padding: 2px;
    margin: 0 12% 0 auto;
}

.route_via_arrivetime{
    display: flex;
    margin: 20px 0 auto auto;
}

.route_via_arrivetime p{
    margin: 14px 0 auto auto;
    font-size: 20px;
}

#route_arrive_time{
    font-size: 50px;
    margin: 0 0 auto 10px;
}

.route_setting{
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.route_setting_stations{
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 5px 20px;
}

.user_station{
    margin: 8px auto 8px 0;
    display: flex;
    align-items: center;
}

.user_station p{
    width: 20%;
    margin: 0 20px auto 0;
}

.user_station_name{
    width: 100%;
}

.user_station_name p{
    margin: auto auto auto 0;
}

#btn_open_modal{
    height: 36px;
    cursor: pointer;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    color: #e9ff76;
    font-size: 1em;
    border-radius: 18px;
    border: 2px solid #e9ff76;
    padding: 0 25px;
    /* display: inline-block; */
    margin: 10px 0 0 auto;
}

#hidden_modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modalbg{
    filter: blur(5px);
}

.hidden{
    display: none;
}

.modal_content{
    box-sizing: border-box;
    background-color: #3d4a5f;
    margin: 12% auto;
    width: 800px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px auto auto auto;
}

#close_modal{
    color: #fff;
    float: right;
    font-size: 40px;
    margin: 20px 10px 10px auto;
    line-height: 0;
    align-items: center;
}

#close_modal:hover,
#close_modal:focus{
    cursor: pointer;
}

.station_form{
    width: 100%;
    display: flex;
    font-size: 20px;
    margin: 10px 0;
    padding: 0 40px;
}

.station_form p{
    margin: auto 0;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 5px 15px;
}

#input_warning{
    display: none;
    color: #dc9086;
    border: 2px solid #dc9086;
    padding: 3px 10px;
    font-size: 16px;
}

.via_form p{
    margin: 10px 0 auto 0;
    white-space: nowrap;
}

.via_inputs{
    display: flex;
    flex-wrap: wrap;
}

.station_input{
    font-size: 20px;
    height: 42px;
    width: 300px;
    border: 2px solid #ffffff;
    background-color: #626f82;
    margin: 10px 20px;
    color: #ffffff;
    padding: 0 0 0 16px;
}

::placeholder{
    color: #9ba4af;
}

.station_input:focus{
    outline: none;
}

.station_input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #626f82 inset;
    -webkit-text-fill-color: #ffffff;
    caret-color: white;
}
.station_input:-webkit-autofill::first-line {
    font-size: 20px;
}

.input_btn_container{
    position: relative;
    left: 0%;
    top: 0%;
    margin: auto auto auto 10px;
    line-height: 0;
}

.btn_change_input{
    cursor: pointer;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 18px;
    border: 1px solid #ffffff;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

#del_via_input{
    visibility: hidden;
}

.submit_btn_container{
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2% 10% 2% auto;
    grid-row: 4/5;
}

#send_to_via{
    display: none;
    height: 32px;
    cursor: pointer;
    outline: none;
    background: #e9ff76;
    box-shadow: none;
    -webkit-appearance: none;
    color: #3d4a5f;
    font-weight: bold;
    font-size: 1em;
    border-radius: 18px;
    border: none;
    padding: 0 25px;
    /* margin: 0 10% 0 auto; */
    transition: all 0.5s ease;
    transform-origin: center bottom;
    transform: scale(1);
    width: 100px;
}

#send_to_via:hover{
    background-color: #b1c159;
}

#send_to_via:before,
#send_to_via:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#send_to_via:after{
    background: #b1c159;
    transform: translatex(-100%);
}
#send_to_via:focus{
    font-size: 0;
    height: 10px;
    width: 200px;
    border-radius: 0px;
    background-color: white;
}
#send_to_via:focus:after{
    transform: translateX(0);
    transition: transform 1.2s cubic-bezier(0.25, 0.5, 0.75, 0.5);
    transition-delay: 0.6s;
}
/*---------------------------------------------------*/

@media screen and (max-width : 800px){
    .header_logo img{
        display: block;
        width: 90px;
    }
    .header_user img{
        width: 30px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin: 0;
        display: inline-block;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .bus{
        width: 100%;
    }
    .bus_timer_time{
        margin: 30px auto;
        font-size: clamp(58px, 18vw, 200px);
    }
    .bus_timer_top span{
        margin: 0 0 0 10px;
        font-size: 1em;
        line-height: 100%;
    }
    .bus_timer_next_time{
        font-size: clamp(20px, 8vw, 100px);
    }
    .bus_timer_bottom p{
        line-height: 100%;
        display: inline-block;
        margin: 0 0 0 20px;
    }
    .bus_timer_bottom span{
        line-height: 100%;
        display: inline-block;
        margin: 0 0 0 auto;
        font-size: 1em;
    }

    .train{
        width: 36%;
        overflow: auto;
        font-size: 0.8em;
    }
    .station_name{
        font-size: clamp(2.2em, 6vw, 4em);
    }

    .line_direction{
        font-size: clamp(1.4em, 4vw, 2em);
    }
    .train_type{
        font-size: clamp(1em, 3.6vw, 4em);
    }
    .train_departure_time{
        font-size: clamp(2.6em, 9vw, 6em);
    }

    #hl01{
        display: block;
    }
    .train{
        width: 100%;
    }
    #vl01{
        display: none;
    }
    #hl02{
        display: block;
    }
    .route{
        width: 100%;
    }
    #vl02{
        display: none;
    }
}

@media screen and (min-width : 801px) and (max-width : 1400px){
    .container{
        display: grid;
        grid-template-columns: 48% 4% 48%;
        grid-template-rows: 1fr auto 1fr;
    }
    .bus{
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bus_timer_time{
        margin: 30px auto;
        font-size: clamp(5em, 10vw, 8em);
    }
    .train{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
    }
    .station_name{
        font-size: clamp(2em, 3.6vw, 4em);
    }

    .line_direction{
        font-size: clamp(1.2em, 2vw, 2em);
    }
    .train_type{
        font-size: clamp(1em, 2vw, 1.6em);
    }
    .train_departure_time{
        font-size: clamp(2.6em, 5vw, 3.6em);
    }
    #vl01{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #vl02{
        display: none;
    }
    #hl01{
        display: block;
        width: 100%;
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 40px 0;
    }
    .route{
        width: 100%;
        white-space: normal;
        grid-column: 1/2;
        grid-row: 3/4;
    }
}
