* {
    box-sizing: border-box;
}

html{
    background-color: #32465c;
    min-width: 340px;
}

body{
    font-family: sans-serif, Arial, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans";
    white-space: nowrap;
    color: #ffffff;
    height: 100%;
}

/*-------------------- ヘッダー --------------------*/
header{
    padding: 0px 0px 10px;
    margin: 0px 20px 0px;
    top: 0;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ffffff;
}

.header_logo{
    margin: auto 0;
}

.header_logo img{
    display: block;
    width: 100px;
}

.header_nav{
    margin: 0 0 0 auto;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.user{
    margin: 0 0 0 20px;
}

.header_login a{
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.header_user{
    display: inline-block;
    font-size: 0;
}

.header_user img{
    width: 36px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
}

/*-------------------------------------------------*/

.container{
    display: flex;
    margin: 30px 20px 0px;
    height: 100%;
}

.horizontal_line{
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

.vertical_line{
    background-color: #ffffff;
    width: 1px;
    margin: 0 auto;
}

.outer_hl{
    display: none;
}

/*---------------------- バス ----------------------*/
.bus{
    width: 36%;
    /* overflow: auto; */
}

.bus_timer{
    margin: 0;
    font-size: 1em;
}

.bus_timer_select {
    height: 36px;
    cursor: pointer;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    color: #ffffff;
    font-size: 1em;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 14px 8px;
    background-position: right 5% center;
    border-radius: 6px;
    border: 1px solid #ffffff;
    padding: 6px 30px 6px 6px;
    display: inline-block;
}

.bus_timer_top{
    display: flex;
    align-items: flex-end;
}

.bus_timer_top span{
    margin: 0 0 0 16px;
    font-size: 1.2em;
    line-height: 100%;
}

.bus_timer_center{
    text-align: center;
}

.bus_timer_time{
    margin: 30px auto;
    font-size: clamp(6em, 7vw, 150px);
}

.bus_timer_bottom{
    text-align: right;
}

.bus_timer_bottom p{
    line-height: 100%;
    display: inline-block;
    margin: 0 0 0 30px;
}

.bus_timer_bottom span{
    line-height: 100%;
    display: inline-block;
    margin: 0 0 0 auto;
    font-size: 1.2em;
}

.bus_timer_next_time{
    font-size: 2em;
}

.bus_schedule_title{
    display: flex;
}

.bus_schedule p{
    line-height: 100%;
    margin: 10px 20px 0 0;
    font-size: 1.4em;
}

.bus_schedule_table{
    border-collapse: collapse;
    margin: 20px auto 0 auto;
    width: 90%;
    table-layout: fixed;
}

.bus_schedule_table th{
    border: 1px solid #ffffff;
    width: 3em;
    font-weight: normal;
}
.bus_schedule_table td{
    width: 100%;
    border: 1px solid #ffffff;
    white-space: normal;
    padding: 0 10px 0 20px;
}
/*-------------------------------------------------*/

/*---------------------- 電車 ----------------------*/
.train{
    width: 36%;
    overflow: auto;
}

.departure_station{
    border: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 26px 5% 4% 5%;
}

.departure_station_top{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

.departure_station_top div{
    display: inline-block;
    margin: auto auto 0 auto;
    line-height: 100%;
}

.station_name{
    font-size: clamp(2.2em, 2.6vw, 4em);
}

.line_direction{
    font-size: clamp(1.4em, 1.6vw, 2em);
}

#train_left_type{
    color: #8caf89;
}

#train_right_type{
    color: #e27a68;
}

.departure_station .horizontal_line{
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 10px auto;
}

.train_time{
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 50% 50%;
}

.train_type{
    margin: 10% auto 10px 10%;
    font-size: clamp(1.2em, 1.4vw, 3em);
}

.train_departure_time{
    margin: 10px auto 0 15%;
    font-size: clamp(3em, 3.4vw, 4em);
    display: inline-block;
    line-height: 100%;
}

.train_time_time span{
    display: inline-block;
    line-height: 100%;
    font-size: clamp(1.2em, 1.4vw, 3em);
}

.tab_wrap{
    width: 100%;
    border: 1px solid #ffffff;
}

.station_line{
    margin: 40px 0;
}

input[name="tab_btn"]{
    display: none;
}

.tab{
    font-size: 0;
}

.tab_label{
    width: 50%;
    font-size: clamp(1.2rem, 1.4vw, 3rem);
    display:inline-block;
    text-align:center;
    cursor:pointer;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

#tb1{
    border-right: 1px solid #ffffff;
}
#tb2{
    border-left: 1px solid #ffffff;
}

#tab1:checked ~ #tb2{
    display: block;
}
#tab2:checked ~ #tb1{
    display: block;
}

#tab1:checked ~ .tab #tb1,
#tab2:checked ~ .tab #tb2{
    border: none;
}

.train_suchedule_panel{
    margin: 30px 5% 20px;
}

#tab1:checked ~ .train_suchedule_panel #panel1,
#tab2:checked ~ .train_suchedule_panel #panel2{
    display:block;
}

.schedule_panel{
    width:100%;
    display: none;
}

.grid_panel{
    width: 100%;
    display: grid;
    grid-template-columns: 46% 8% 46%;
}

.t_sche{
    white-space: normal;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.train_schedule1{
    grid-column: 1/2;
}
.grid_panel div{
    grid-column: 2/3;
}
.train_schedule2{
    grid-column: 3/4;
}

.t_sche th{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 3em;
    font-weight: normal;
}

.t_sche td{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 0 8px;
}
/*-------------------------------------------------*/

/*---------------------- 経由駅 ----------------------*/
.route{
    width: 20%;
    overflow: auto;
}
#hidden_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  
  .modalbg{
    filter: blur(5px);
  }
  
  .hidden {
    display: none;
  }
  
  .modal_content {
    box-sizing: border-box;
    background-color: #32465c;
    height: 40%;
    margin: 16% 20% auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
  
  .station_form{
    width: 100%;
    height: 20%;
    display: flex;
  }
  
  .station_input_form,
  .station_form p {
    height: 26px;
    margin: auto 10px;
  }
  
  #close_modal {
    color: #fff;
    float: right;
    font-size: 16px;
  }
  
  #close_modal:hover,
  #close_modal:focus {
    color: #fff;
    cursor: pointer;
  }
/*---------------------------------------------------*/

@media screen and (max-width : 800px){ 
    .header_logo img{
        display: block;
        width: 90px;
    }
    .header_user img{
        width: 30px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin: 0;
        display: inline-block;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .bus{
        width: 100%;
    }
    .bus_timer_time{
        margin: 30px auto;
        font-size: clamp(58px, 18vw, 200px);
    }
    .bus_timer_top span{
        margin: 0 0 0 10px;
        font-size: 1em;
        line-height: 100%;
    }
    .bus_timer_next_time{
        font-size: clamp(20px, 8vw, 100px);
    }
    .bus_timer_bottom p{
        line-height: 100%;
        display: inline-block;
        margin: 0 0 0 20px;
    }
    .bus_timer_bottom span{
        line-height: 100%;
        display: inline-block;
        margin: 0 0 0 auto;
        font-size: 1em;
    }

    .train{
        width: 36%;
        overflow: auto;
        font-size: 0.8em;
    }
    .station_name{
        font-size: clamp(2.2em, 6vw, 4em);
    }
    
    .line_direction{
        font-size: clamp(1.4em, 4vw, 2em);
    }
    .train_type{
        font-size: clamp(1em, 3.6vw, 4em);
    }
    .train_departure_time{
        font-size: clamp(2.6em, 9vw, 6em);
    }

    #hl01{
        display: block;
    }
    .train{
        width: 100%;
    }
    #vl01{
        display: none;
    }
    #hl02{
        display: block;
    }
    .route{
        width: 100%;
    }
    #vl02{
        display: none;
    }
}

@media screen and (min-width : 801px) and (max-width : 1400px){ 
    .container{
        display: grid;
        grid-template-columns: 48% 4% 48%;
        grid-template-rows: 1fr auto 1fr;
    }
    .bus{
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bus_timer_time{
        margin: 30px auto;
        font-size: clamp(5em, 10vw, 8em);
    }
    .train{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
    }
    .station_name{
        font-size: clamp(2em, 3.6vw, 4em);
    }
    
    .line_direction{
        font-size: clamp(1.2em, 2vw, 2em);
    }
    .train_type{
        font-size: clamp(1em, 2vw, 1.6em);
    }
    .train_departure_time{
        font-size: clamp(2.6em, 5vw, 3.6em);
    }
    #vl01{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #vl02{
        display: none;
    }
    #hl01{
        display: block;
        width: 100%;
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 40px 0;
    }
    .route{
        width: 100%;
        white-space: normal;
        grid-column: 1/2;
        grid-row: 3/4;
    }
}